{% extends "base.html" %}
{% load static %}
{% load components %}

{% block title %}{{ object.title }}{% endblock title %}


{% block content %}
<div class="p-4">
    <input type="hidden" id="post-id" value="{{ object.id }}" />
    <article>
        <section class="blog-post p-5">
            <h1>{{ object.title }}</h1>
            <hr />
            <p class="blog-post-meta text-secondary">{{ post.created|date:"d.m.Y" }} by {{ post.author }}</p>
            <p>{{ object.body|safe }}</p>
            {% like_btn %}
        </section>
    </article>
    <aside>
        {% include 'components/comments.html' %}
        <div class="p-5">
            <h2>Last Articles</h2>
            <ul>
                {% for article in last_articles %}
                <li>{{ article.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </aside>
</div>


{% endblock content%}